#%PAM-1.0
#
# {{ ansible_managed }} - {{ template_destpath }}
# Password-related modules common to all services
#

# Req-55
password    requisite                       pam_pwquality.so    retry=3 minlen={{ hardening_linux_pam_minlen }} minclass={{ hardening_linux_pam_minclass }} enforce_for_root difok=2 maxsequence=3 maxrepeat=3 lcredit={{ hardening_linux_pam_xcredit_value }} ucredit={{ hardening_linux_pam_xcredit_value }} dcredit={{ hardening_linux_pam_xcredit_value }} ocredit={{ hardening_linux_pam_xcredit_value }} dictcheck=1

# Req-57
password    required                        pam_pwhistory.so    use_authtok enforce_for_root retry=3 remember={{ hardening_linux_pam_remember }}

# Req-54
password    [success=1 default=ignore]      pam_unix.so         obscure {{ hardening_linux_pam_hash_function }}{{ " rounds=" + hardening_linux_login_defs_dict.SHA_CRYPT_MIN_ROUNDS if hardening_linux_pam_hash_function == 'sha512' }}

password    requisite                       pam_deny.so
password    required                        pam_permit.so
